/* Element selector */
div{
    background-color: deeppink;
    margin: 10px;
}

/* Class selector */
.fancy{
    background-color: aqua;
    color: beige;
    margin: 10px;  
}
/* class määreen voi periyttää Idtä ei */
.pancy{
    margin: 45px;
    
}

/*Id selector*/
#test{
    max-width: 300px;
  /*  margin: 10 10 10 10; /* ylös oikealle alas vasemmalle */
    margin: 10 auto; /* keskitys? */
}

table, th, tr{
  border: 2px solid;
}

.young{
    background-color: green;
}
.middle_age{
    background-color: red;
}
.old{
    background-color: gray;
}